################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PiyoChan/.vs/PiyoChan/v16
/PiyoChan/.vs/PiyoChan/config
